<ion-header  >

  <ion-toolbar color="warning">
    <a href="https://www.duoc.cl">
      <img src="../../assets/img/duo.png" alt="logo" width="190"></a>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-card>
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form  [formGroup] ="formularioLogin">
      <ion-item>
        <p></p>
        <ion-label position="floating"> Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
  
      <ion-item>
        <p></p>
        <ion-label position="floating"> Apellido</ion-label>
        <ion-input formControlName="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <p></p>
        <ion-label position="floating"> Contraseña</ion-label>
        <ion-input formControlName="contraseña" type="password"></ion-input>
      </ion-item>
    </form>
    <br>
  
    <ion-button (click)="ingresar()">Ingresar</ion-button>
    


  </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons slot="">
        <ion-button [routerLink]= " ['/registro']" >Registrarse</ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-footer>


</ion-content>

